body{
	background-color: #98e698;
	font-size: 40px;
	font-family: 'Cabin Sketch', cursive;


}
p{
	font-size: 25px;
}
#label{
	
	border-bottom: 4px solid black;
    background-color: PaleTurquoise;
}
#text{
	font-size: 20px;
	text-align: justify;
}
#homebar{
	font-size: 40px;
}
#homepic {
	display: block;
    margin: auto;
    width: 40%;;
}


.active {
	background-color: Thistle;
}

#intro{
	padding: 20px;
	text-align: center;
}

div{
	padding: 5px;
}

.fix{
    right: 50%;

    }
